################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ServiceActivity/v15
/ServiceActivityLogger/obj/Debug
/ServiceActivityNagiosPlugin/bin/Debug/MEC_IC
/ServiceActivityNagiosPlugin/obj/Debug
